# Variables de entorno — NUNCA subir al repo
.env
.env.*

# Entorno virtual Python
venv/
env/
.venv/

# Datos generados
data/raw/
data/clean/*
!data/clean/chunks.json

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# VS Code
.vscode/
*.code-workspace

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Presentación
ChatbotCRAI_NovIA.pptx.pptx